/*******************************************
    GLOBAL
*******************************************/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/*******************************************
FOOTER
*******************************************/

footer {
  background-color: #f8f9fa;
}

